# Ignore generated outputs
outputs/

# Ignore environment files
.env
.env.local

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.venv/
.venv-1/

# Ignore deprecated project modules
controller/
logging/
synthesis/
